@keyframes appear {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.page {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.info {
    margin: 20px 0px;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 80px;

    border: none;
    border-radius: 10px;

    background: lightsteelblue;

    text-align: center;
    
    padding: 5px 8px;
    transition: all .3s;
}

button:hover,
.pawn:hover {
    font-weight: bold;

    opacity: 0.8;
    transform: scale(1.2);
}

.grid-contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    /* règles box */
    width: 500px;
    height: 500px;
    margin: 20px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr); /* row / col */

    /* règles bordure */
    border: solid 2px grey;
    border-radius: 20px;

    /* règles background */
    background-color: lightsteelblue;

    /* règles texte */

    /* autre */
}

.pawn { 
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 25px;

    background: orange;

    font-size: 2em;

    margin: 5px;
    transition: all .3s;
}

.alerte {
    font-size: 2rem;
    text-align: center;
}
